Soccer/Algorithm/UnitySDK.log
Drone/Build/Drone_Data/sharedassets0.assets
Drone/Library/PlayerDataCache/Win64/Data/sharedassets0.assets
SmallOmok/Temp/UnityLockfile
Logistics/Library/PlayerDataCache/Win64/Data/sharedassets0.assets
*.data-00000-of-00001
*.7z
